<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .text-info{
            margin-top: 20px;
        }
        label{
            margin-top: 20px;
        }


    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-info ">新建一个文件</h1>
        <form action="/admin/save" method="post">
            <div class="form-group">
                <label for="title">文章标题：</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="请输入你的文章名：">
                <label for="content">文章内容：</label>
                <input type="text" name="content" class="form-control" id="title" placeholder="请输入你的文章内容：">
                <div>
                    <label for="tags">选择你的文章类型：</label>
                    <select name="tags">
                        <option value="Java">Java</option>
                        <option value="C语言">C语言</option>
                        <option value="Python">Python</option>
                        <option value="大数据">大数据</option>
                        <option value="HTML&&CSS">HTML&&CSS</option>
                        <option value="机器学习和人工智能">机器学习和人工智能</option>
                        <option value="框架">框架</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
                <label for="date">请输入时间：<input type='date'></label>
                <label for=""><button type="submit"> 提交</button></label>
            </div>
        </form>
    </div>
</body>
</html>